{{- $self := . -}}
{{- $page_scratch := .page_scratch -}}
{{- $bg := .self.Scratch.Get "bg" }}

{{- "<!-- Lagoon Loves Laravel -->" | safeHTML -}}
<nav class="overlay fragment navbar navbar-expand-lg py-2 scroll-spy
  {{- printf " bg-%s" $bg -}}
  {{- if or (eq $bg "light") (eq $bg "white") (eq $bg "secondary") -}}
    {{- printf " navbar-%s" "light" -}}
  {{- else -}}
    {{- printf " navbar-%s" "dark" -}}
  {{- end -}}
" id="{{ .Name }}" role="navigation">
  <div class="container" style="justify-content: space-around">
    <a href="/laravel" style="color: inherit; text-decoration: inherit;">Lagoon Loves Laravel - Learn More!</a>
  </div>
</nav>
